#cryptoPie {
    border: solid 2px black;
}

/* #pieDiv {
    height: 500px !important;
    width: 500px !important;
} */

#cryptoTimeline {
    border: solid 2px black;
}

#timelineDiv {
    height: 500px !important;
    width: 500px !important;
}