#landingBody {
    background-image: url('../img/background.jpg');
    background-size: cover;
}

h1 {
    font-size: 100px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h2 {
    font-size: 70px;
}

li {
    font-size: 20px;
}